--- 
dev:
   machine_id: 1
   machine_passwd: ttdePAssWD7632
   email: email@somedomain.com
   irc_nick: YourProjectIRCNick
   taptinderserv: http://localhost:2000/

prod:
   machine_id: SomeNumber
   machine_passwd: YourClientPasswd
   email: email@somedomain.com
   irc_nick: YourProjectIRCNick
   taptinderserv: http://tt.taptinder.org/
